@model IEnumerable<MechanicViewModel>

@{
    ViewData["Title"] = "Our Mechanics!";
    ViewBag.Currency = "$";
    var mechanics = Model.ToList();
    var count = 1;
}
<form asp-area="Admin" asp-controller="Mechanic" asp-action="All">
<div class="text-centre mb-5" align="center">
    <h2 class="display-4 text-centre">@ViewData["Title"]</h2>
</div>
<hr />
<div align="center" class="mb-5">
    <a type="button" class="btn btn-primary" asp-area="Admin" asp-controller="Mechanic" asp-action="Add">Add New Mechanic</a>
</div>

<div class="">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Phone Number</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var m in mechanics)
        {

            <tr>
                <td scope="row">@count</td>
                <td>@m.Name</td>
                <td>@m.Surname</td>
                <td>@m.PhoneNumber</td>

                <td><a type="button" class="btn btn-primary" asp-area="Admin" asp-controller="Mechanic" asp-action="Details" asp-route-id="@m.Id">View Details</a></td>
                <td><a type="button" class="btn btn-warning" asp-area="Admin" asp-controller="Mechanic" asp-action="Edit" asp-route-id="@m.Id">Edit</a></td>
                <td><a type="button" class="btn btn-danger" asp-area="Admin" asp-controller="Mechanic" asp-action="Delete" asp-route-id="@m.Id">Delete</a></td>
            </tr>
            count++;
        }
        </tbody>
    </table>
</div>
</form>
