@model IEnumerable<CustomerViewModel>

@{
    ViewData["Title"] = "All Customers!";
    var customers = Model.ToList();
    var count = 1;
}

<div class="text-centre mb-5" align="center">
    <h2 class="display-4 text-centre">@ViewData["Title"]</h2>
</div>
<hr/>
<div align="center" class="mb-5">
    <a type="button" class="btn btn-primary" asp-area="" asp-controller="Customer" asp-action="Add">Add New Customer</a>
</div>

<div class="">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Email address</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var customer in customers)
        {
            
            <tr>
                <th scope="row">@count</th>
                <td>@customer.FirstName</td>
                <td>@customer.LastName</td>
                <td>@customer.PhoneNumber</td>
                <td>@customer.Email</td>
                <td><a type="button" class="btn btn-primary" asp-area="" asp-controller="Customer" asp-action="Details" value="@customer.Id">View Details</a></td>
                <td><a type="button" class="btn btn-warning" asp-area="" asp-controller="Customer" asp-action="Edit" value="@customer.Id">Edit</a></td>
                <td><a type="button" class="btn btn-danger" asp-area="" asp-controller="Customer" asp-action="Delete" value="@customer.Id">Delete</a></td>
            </tr>
            count++;
        }
        </tbody>
    </table>
</div>