@model CustomerDetailsViewModel
@{
    ViewData["Title"] = "Customer Details";
    ViewData["OwnedVehicles"] = "Owned vehicles!";

    var vehicles = Model.Vehicles.ToList();

}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container mt-4">
        <h1>Customer Details</h1>
        <a type="button" class="btn btn-warning" asp-area="" asp-controller="Customer" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a type="button" class="btn btn-danger" asp-area="" asp-controller="Customer" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
        <hr />

        <div class="row">
            <div class="col-md-4">
                <h4>Name:</h4>
            </div>
            <div class="col-md-8">
                <p>@Model.Name @Model.Surname</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h4>Email:</h4>
            </div>
            <div class="col-md-8">
                <p>@Model.Email</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h4>Phone:</h4>
            </div>
            <div class="col-md-8">
                <p>@Model.PhoneNumber</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h4>EGN:</h4>
            </div>
            <div class="col-md-8">
                <p>@Model.Egn</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h4>Address:</h4>
            </div>
            <div class="col-md-8">
                <p>@Model.Address</p>
            </div>
        </div>
    </div>
    <hr />
    <div class="text-centre mb-3 mt-3" align="center">
        <h4 class="display-4 text-centre">@ViewData["OwnedVehicles"]</h4>
    </div>
    @if (@vehicles.Count == 0)
    {
        <h3 class="text-center mt-4">There is no owned vehicles added!</h3>
    }
    else
    {
        <div class="row">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">Make</th>
                        <th scope="col" class="text-center">Model</th>
                        <th scope="col" class="text-center">Registration Plate</th>
                        <th scope="col" class="text-center">VIN</th>
                        <th scope="col" class="text-center">Year</th>
                        <th scope="col" class="text-center"></th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var vehicle in @Model.Vehicles)
                    {
                        <tr>
                            <td class="text-center">@vehicle.Make</td>
                            <td class="text-center">@vehicle.Model</td>
                            <td class="text-center">@vehicle.RegistrationNumber</td>
                            <td class="text-center">@vehicle.Vin</td>
                            <td class="text-center">@vehicle.YearManufactured</td>
                            <td class="text-center"><a type="button" class="btn btn-primary" asp-area="" asp-controller="Vehicle" asp-action="Details" asp-route-id="@vehicle.Id">View Details And ServiceHistory</a></td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    }
</body>
</html>