@model IEnumerable<VehicleViewModel>

@{
    ViewData["Title"] = "All Vehicles!";
    var vehicles = Model.ToList();
    var count = 1;
}

<div class="text-centre mb-5" align="center">
    <h2 class="display-4 text-centre">@ViewData["Title"]</h2>
</div>
<hr />
<div align="center" class="mb-5">
</div>

@if (vehicles.Count == 0)
{
    <h3 class="text-center">There is no vehicles added!</h3>
}
else
{
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Make</th>
                    <th scope="col">Model</th>
                    <th scope="col">Registration Plate</th>
                    <th scope="col">VIN</th>
                    <th scope="col">Year</th>
                    <th scope="col"></th>
                    <th scope="col"></th>


                </tr>
            </thead>
            <tbody>

                @foreach (var vehicle in vehicles)
                {

                    <tr>
                        <th scope="row">@count</th>
                        <td>@vehicle.Make</td>
                        <td>@vehicle.Model</td>
                        <td>@vehicle.RegistrationNumber</td>
                        <td>@vehicle.Vin</td>
                        <td>@vehicle.YearManufactured</td>
                        <td class="text-center"><a type="button" class="btn btn-primary text-center" asp-area="" asp-controller="Vehicle" asp-action="Details" asp-route-id="@vehicle.Id">View Details And ServiceHistory</a></td>
                        <td><a type="button" class="btn btn-danger" asp-area="" asp-controller="Vehicle" asp-action="Delete" asp-route-id="@vehicle.Id">Delete</a></td>
                    </tr>

                    count++;
                }
            </tbody>
        </table>
    </div>
}
