@model IEnumerable<VehicleViewModel>

@{
    ViewData["Title"] = "All Vehicles!";
    var vehicles = Model.ToList();
    var count = 1;
}

<div class="text-centre mb-5" align="center">
    <h2 class="display-4 text-centre">@ViewData["Title"]</h2>
</div>
<hr/>
<div align="center" class="mb-5">
<a type="button" class="btn btn-primary" asp-area="" asp-controller="Vehicle" asp-action="Add">Add Vehicle</a>
</div>
<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Make</th>
                <th scope="col">Model</th>
                <th scope="col">Year</th>
                <th scope="col">VIN</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vehicle in vehicles)
            {

                <tr>
                    <th scope="row">@count</th>
                    <td>@vehicle.Make</td>
                    <td>@vehicle.Model</td>
                    <td>@vehicle.YearManufactured</td>
                    <td>@vehicle.Vin</td>
                    <td><a type="button" class="btn btn-primary" asp-area="" asp-controller="Vehicle" asp-action="Details" value="@vehicle.Id">View Details</a></td>
                    <td><a type="button" class="btn btn-warning" asp-area="" asp-controller="Vehicle" asp-action="Edit" value="@vehicle.Id">Edit</a></td>
                    <td><a type="button" class="btn btn-danger" asp-area="" asp-controller="Vehicle" asp-action="Delete" value="@vehicle.Id">Delete</a></td>
                </tr>
                
                count++;
            }
        </tbody>
    </table>
</div>
