@model DetailsJobCardViewModel
@{
    ViewData["Title"] = "Delete Job Card";
    ViewBag.Currency = "$";
    var jobCardParts = Model.Parts!.ToList();
    var jobCardJobs = Model.Jobs!.ToList();
    var totalAmount = Model.TotalAmountForParts + Model.TotalAmountForLabor;
}


<head>
    <title>@ViewData["Title"]</title>
</head>
<form method="post" asp-area="Admin" asp-action="Delete">
    <div asp-area="" class="container mt-4">
        <h1>@ViewData["Title"]</h1>

        <div class="form-group mt-2">
            <input type="submit" value="Confirm!" class="btn btn-danger" />
        </div>
        <hr />

        <div class="row">
            <div class="col-md-4">
                <h4>Created On:</h4>
            </div>
            <div class="col-md-8">
                <p>@Model.CreatedOn</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h4>Make:</h4>
            </div>
            <div class="col-md-8">
                <p>@Model.Vehicle?.Make</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h4>Model:</h4>
            </div>
            <div class="col-md-8">
                <p>@Model.Vehicle?.Model</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h4>VIN:</h4>
            </div>
            <div class="col-md-8">
                <p>@Model.Vehicle?.Vin</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h4>Vehicle Mileage:</h4>
            </div>
            <div class="col-md-8">
                <p>@Model.Mileage</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <h4>Mechanic:</h4>
            </div>
            <div class="col-md-8">
                <p>@Model.Mechanic?.Name @Model.Mechanic?.LastName</p>
            </div>
        </div>

        <hr />
        <div class="row">
            <div class="col-md-4">
                <h4>Total amount:</h4>
            </div>
            <div class="col-md-8">
                <p>@totalAmount @ViewBag.Currency</p>
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="table-responsive col-md-6">


                @if (@jobCardParts.Count == 0)
                {
                    <h3 class="text-center mt-4">There in no parts that have been changed within this job card!</h3>
                }
                else
                {
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="text-start" scope="col">Part</th>
                                <th class="text-end" scope="col">Price</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var part in @jobCardParts)
                            {

                                <tr>
                                    <td class="text-start">@part.PartName</td>
                                    <td class="text-end">@part.Price @ViewBag.Currency</td>
                                </tr>
                            }
                            <tr>
                                <td class="text-start">Total bill for parts:</td>
                                <td class="text-end">@Model.TotalAmountForParts @ViewBag.Currency</td>
                            </tr>
                        </tbody>
                    </table>
                }

            </div>

            <div class="table-responsive col-md-6">


                @if (@jobCardJobs.Count == 0)
                {
                    <h3 class="text-center mt-4">There in no labor within this job card!</h3>
                }
                else
                {
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="text-start" scope="col">Labor</th>
                                <th class="text-end" scope="col">Price</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @foreach (var part in @jobCardJobs)
                                {


                                    <td class="text-start">@part.JobName</td>
                                    <td class="text-end">@part.Price @ViewBag.Currency</td>

                                }
                            </tr>
                            <tr>
                                <td class="text-start">Total bill for labor:</td>
                                <td class="text-end">@Model.TotalAmountForLabor @ViewBag.Currency</td>
                            </tr>
                        </tbody>
                    </table>
                }

            </div>
        </div>
    </div>
</form>
