@model IEnumerable<AllPartsViewModel>

@{
    ViewData["Title"] = "All Parts!";
    ViewBag.Currency = "$";
    var parts = Model.ToList();
    var count = 1;
}

<div class="text-centre mb-5" align="center">
    <h2 class="display-4 text-centre">@ViewData["Title"]</h2>
</div>
<hr />
<div align="center" class="mb-5">
    <a type="button" class="btn btn-primary" asp-area="" asp-controller="Part" asp-action="Add">Add New Part</a>
</div>

<div class="">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Part Name</th>
                <th scope="col">Part Number</th>
                <th scope="col">Part Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var part in parts)
            {

                <tr>
                    <th scope="row">@count</th>
                    <td>@part.PartName</td>
                    <td>@part.PartNumber</td>
                    <td>@part.Price @ViewBag.Currency</td>

                    <td><a type="button" class="btn btn-primary" asp-area="" asp-controller="Part" asp-action="Details" value="@part.Id">View Details</a></td>
                    <td><a type="button" class="btn btn-warning" asp-area="" asp-controller="Part" asp-action="Edit" value="@part.Id">Edit</a></td>
                    <td><a type="button" class="btn btn-danger" asp-area="" asp-controller="Part" asp-action="Delete" value="@part.Id">Delete</a></td>
                </tr>
                count++;
            }
        </tbody>
    </table>
</div>